doctype html
html(lang='en')
  head
    title ITMD 469 Week Three Problem
  body
    header
      h1 #{name}
    main
    img(src=avatar)
    p Public repositories: #{repos}

    footer
      small Last updated: #{updated_at}
